<%= form_with(model: @listing, local: true) do |form| %>

    <div class="container mb-5">
    <div class="row-12">

    <table class="table">
    <thead class="thead-dark">

    <tr>
      <th scope="col"></th>
      <th scope="col">Zhus Listing</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

    <tr>
      <th scope="row"></th>
      <td> <%= form.label :name %></td>
      <td> <%= form.text_field :name %></td>

    </tr>

    <tr>
    <th scope="row"></th>
    <td> <%= form.label :brand_id %></td>
    <td> <%= form.select(:brand_id, @brands.map{|b| [b.name, b.id]}) %></td>
    </tr>

    <tr>
    <th scope="row"></th>
    <td> <%= form.label :category %></td>
    <td> <%= form.select(:category, @categories) %></td>
    </tr>

    <tr>
    <th scope="row"></th>
    <td> <%= form.label :color %></td>
    <td> <%= form.text_field :color %></td>
    </tr>

    <tr>
    <th scope="row"></th>
    <td> <%= form.label :size %></td>
    <td> <%= form.text_field :size %></td>
    </tr>

    <tr>
    <th scope="row"></th>
    <td> <%= form.label :price %></td>
    <td> <%= form.number_field :price %></td>
    </tr>
    
    <tr>
    <th scope="row"></th>
    <td> <%= form.label :description %></td>
    <td> <%= form.text_area :description %></td>
    </tr>

    <tr>
    <th scope="row"></th>
    <td>  <%= form.label :picture %> </td>
    <td> <%= form.file_field :picture, accept:
    'image/png,image/gif,image/jpeg,image/jpg' %></td>
    </tr>

    <tr>
    <th scope="row"></th>
    <td>  <%= form.label :Submit %> </td>
    <td> <%= form.submit %></td>
    </tr>


  </tbody>
</table>

<% end %>

