<%#= -------------NavBar%>
<nav class ="navbar navbar-expand-md navbar-light bg-light sticky-top">
<div class = "container-fluid">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#burger">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class ="collapse navbar-collapse" id="burger">

        <ul class="navbar-nav mr-auto">

            <li class="nav-item active">
                <%= link_to "Home",root_path,class:"nav-link"%>
            </li>

            <li class="nav-item">
                <a class = "nav-link" href="#">Nike</a>
            </li>

            <li class="nav-item">
                <a class = "nav-link" href="#">Adidas</a>
            </li>

            <li class="nav-item">
                <a class = "nav-link" href="#">Jordan</a>
            </li>

            <li class="nav-item">
                <a class = "nav-link" href="#">Vans</a>
            </li>

            <li class="nav-item">
                <a class = "nav-link" href="#">Converse</a>
            </li>

            <li class="nav-item">
            <a class = "nav-link" href="#">New Balance</a>
            </li>

            <li class="nav-item">
            <a class = "nav-link" href="#">Sketchers</a>
            </li>
            
            <li class="nav-item">
            <a class = "nav-link" href="#">Under Armour</a>
            </li>
        </ul>

        <ul class="navbar-nav mr-auto" id="rightnav">

            <% if user_signed_in?%>

                <li class="nav-item">
                <%= search_form_for @q do |f| %>
                    <%= f.search_field :name_or_description_or_color_cont, class:"form-control",placeholder:"Search"  %>
                    <%#= f.submit %>
                <% end %>
                </li>

                <li class="nav-item m-auto">
                <div class="lead mr-3 ml-5 mt-1">
                hello, <%=current_user.name%>
                </div>
                </li>

                </li>
                <li class="nav-item">
                <%= link_to "Create Listing", new_listing_path , class:"btn btn-primary btn-space"%>
                </li>

                </li>
                <li class="nav-item">
                <%#= link_to "Mange Account", edit_listing_path , class:"btn btn-success btn-space"%>
                </li>

                <li class="nav-item">
                <%= link_to "Logout", destroy_user_session_path, method: 'delete' , class:"btn btn-outline-secondary btn-space"%>
                </li>

                <li class="nav-item">
                <div class="m-auto">
                <%= link_to image_tag('cart.png', :size =>'30x25') %>
                </div>
                </li>

            <% else %>

            <li class="nav-item ">
            <%= search_form_for @q do |f| %>
                <%= f.search_field :name_or_description_or_color_cont, class:"form-control",placeholder:"Search" %>
                <%#= f.submit %>
            <% end %>
            </li>

            <li class="nav-item ">
            <div class="lead mr-3 ml-5 mt-1">
            hello, Guess
            </div>
            </li>

            <li class="nav-item">
            <%= link_to "Sign-in", new_user_session_path , class:"btn btn-primary btn-space" %>
            </li>

            <li class="nav-item">
            <%= link_to "Sign-up", new_user_registration_path , class:"btn btn-outline-secondary "%>
            </li>


            <% end %>
            
        </ul>

    </div>



</div>
</nav>