
<%= render "nav"%>


<%#= -------------Slider%>
<div id="slides" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">
<ul class="carousel-indicators">
    <li data-target="#slides" data-slide-to="0" class="active"></li>
    <li data-target="#slides" data-slide-to="1" ></li>
</ul>
    <div class="carousel-item active">
    <%= image_tag('background1.jpg')%>
    </div>
    <div class="carousel-item">
    <%= image_tag('background2.jpg')%>
</div>
</div>

<%#= -------------jumbotron%>
<div class="container-fluid">
<div class="row jumbotron">
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
    <h1 class="display-4">About Zhus</h1>
    <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam odio vel ipsum sodales, eget pellentesque neque porttitor. Aliquam purus felis, auctor sed neque vel,
    </p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-9 col-xl-4">
    <a href="#"><button type="button" class="btn btn-outline-primary btn-lg">More</button></a>
    </div>
</div>
</div>

<%#= -------------welcomesection%>
<div class="container-fluid padding">
<div class="row welcome text-center">
    <div class="col-12">
        <h1 class="display-5 lead"> Home Gallery</h1>
    </div>
    <hr>
    <div class="col-12">
    <p class="lead"></p>
    </div>
</div>
</div> 

<%#= -------------listingsection%>

<div class="container">
    <div class="row text-center">
    <% @listings.each do |listing| %>
        <div class="col-xs-12 col-md-4 col-lg-4 mt-5">
            <div class="card" style="width: 18rem;">
            <%= image_tag (listing.picture), class:"card-img-top" if listing.picture.attached?%>
                <div class="card-body">
                <h5 class="card-title"><%= listing.name %></h5>
                <p class="card-text">AUD: $<%= listing.price %></p>
                <%= link_to "more",listing_path(listing.id), class:"btn btn-primary"%>
                </div>
            </div>
        </div>
    <% end %>
    </div>
</div>
<hr class="my-4">

<%#= -------------background-------------%>

<figure>
    <div class="fixed-warp">
        <div id="fixed">
        </div>
    </div>
</figure>

<%#= -------------Featured Categories-------------%>

<div class="container-fluid padding">
<div class="row welcome text-center">
        <div class="col-12">
            <h1 class="lead display-4">Featured Gallery</h1>
        </div>
        <hr>
</div>
</div>

<%#= -------------Featured Categories cards-------------%>

<div class="container padding mt-5 mb-5">
    <div class="row padding text-center">

        <div class="col-md-4">
                <%= image_tag 'Category1.jpg', class:"card-img-top",style:"width:250px" %>
        </div>
        
        <div class="col-md-4">
        <%= image_tag 'Category1.jpg', class:"card-img-top",style:"width:250px" %>
        </div>

        <div class="col-md-4">
                <%= image_tag 'Category1.jpg', class:"card-img-top",style:"width:250px" %>
        </div>

    </div>
</div>
