



<div class="container" id="payment">
<div class= row-12>
    <h1 class="lead display-4">Payment Successful </h1>
</div>
</div>
<%#= -------------listingsection%>
<div class="container mb-5 mt-5">
    <div class="row ">
        <div class= "col text-center border rounded  mr-5 ">
            <%= image_tag (@listing.picture),size:'400x350' if @listing.picture.attached? %>
            <div class="alert alert-success mt-5" role="alert">
        ITEM SOLD
      </div></h1>
            
        </div>
        <div class= "col" id="item">
        <h1><%= @listing.name.upcase %>
        <p class="lead">Brand: <%= @listing.brand.name %></p>
        <p class="lead">Category: <%= @listing.category %></p>
        <p class="lead">Color: <%= @listing.color %></p>
        <p class="lead">Size: <%= @listing.size %></p>
        <p class="lead">Description: <%= @listing.description %></p>
        <p class="lead">Owner: <%= @listing.user.name%></p>
        
        <%= link_to "Home", @listing, class:"btn btn-primary",method: :sold %>


    </div>
    </div>
</div>





